.grid-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: yellow;
}

.grid-row {
    flex: 1;
    display: flex;
    /*background-color: blue;*/
}

.cell {
    width: 45px;
    height: 45px;
    background-size: cover;
}

.grid-cell {
    width: 45px;
    height: 45px;
    flex: 1;
    background-repeat: no-repeat;
    background-color: transparent;
    filter: invert(100%) opacity(0);
    /*opacity: 0;*/
}

.style.root {
    overflow-y: auto;
    overflow-x: auto;
}

#game {
    position: relative;
    border: 1px solid black;
}

.controls-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font: bold 16px/14px 'VCR OSD Mono', monospace;

}

h2 {
    font: bold 16px/14px 'VCR OSD Mono', monospace;
    text-align: center;
    margin-top: 10px;
    /*background-color: green;*/

}

p {
    font: bold 16px/14px 'VCR OSD Mono', monospace;
    text-align: left;
    margin-top: 10px;
    /*background-color: green;*/
}
