.root {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    color: white;
}

.cell {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}

@keyframes blink {
    0% { background-color: white; }
    50% { background-color: transparent; }
    100% { background-color: white; }
}

.blink {
    animation: blink 1s infinite;
}