.root {
    flex-direction: column;
}

.row {
    display: flex;
    color: white;
}

.cell {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
