.chatbox {
    position: absolute;
    top: 10%;
    left: 5%;
    right: 10%;
    width: 80%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.9);
    /*background-image: url("../Images/Votingbox/Votingbox_chat_background.jpg");*/
    background-repeat: no-repeat;
    background-size: inherit;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    max-width: 80%;
    max-height: 80%;
    min-width: 80%;
    min-height: 80%;
    z-index: 1000;
}

.message-list, .message-list-other {
    overflow-y: auto;
    flex-grow: 1;
    /*background-color: #ffffff;*/
    /*float: left;*/
    /*clear: both;*/
    /*height: 16%;*/
    /*min-width: 600px;*/
    /*max-width: 600px;*/
    /*border-radius: 5px;*/
    /*word-wrap: break-word;*/
    /*white-space: normal;*/
    /*margin-right: 2px;*/
    /*margin-left: 2px;*/
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    scrollbar-color: rgb(0, 114, 220) white;
}


.message-list {
    color: black;
    float: right;
    clear: both;
}

.message-list-other {
    background-color: #ffffff;
    float: left;
    clear: both;
    height: 16%;
    width: 200px;
    min-width: 600px;
    max-width: 600px;
    border-radius: 5px;
    word-wrap: break-word;
    white-space: normal;
    margin-right: 5px;
    margin-left: 5px;

}

.message-list-my {
    background-color: #ffffff;
    float: right;
    clear: both;
    width: 200px;
    height: 16%;
    /*width: 200px;*/
    min-width: 600px;
    max-width: 600px;
    border-radius: 5px;
    word-wrap: break-word;
    white-space: normal;
    margin-right: 5px;
    margin-left: 5px;
}

/*.message-list {*/
/*    width: 100%;*/
/*    padding: 10px;*/
/*}*/

.message {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

}

.message img {
    /*margin: 2px;*/
    float: right;

}

.message-content-other {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: flex-start;
    /*flex: max(0, 1);*/
    font: bold 16px/14px 'VCR OSD Mono', monospace;


}

.message-content-my {
    display: flex;
    flex-direction: column;
    flex: max(0, 1);
    margin-left: 10px;
    margin-right: 10px;
    justify-content: flex-end;
    font: bold 16px/14px 'VCR OSD Mono', monospace;

}

.message-id {
    margin: 2px;
    float: left;
    font: bold 16px/14px 'VCR OSD Mono', monospace;

}

.message-id-my {
    margin: 2px;
    /*float: right;*/
    /*flex: max(0, 1);*/
    /*right: 20px;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    font: bold 16px/14px 'VCR OSD Mono', monospace;

}



.input-area {

    display: flex;
    justify-content: space-between;
    /*padding-top: 5px;*/
    /*padding-bottom: 2px;*/
    font: bold 16px/14px 'VCR OSD Mono', monospace;
    /*align-items: flex-start;*/
    position: relative;
    /*border-radius: 5px;*/
    /*border-style: solid;*/
    /*border-width: 1px;*/
    /*border-color: black;*/
}

.input-field {
    height: 50px;
    width: 100%;
    padding: 10px;
    flex-grow: 1;
    margin-right: 10px;
    /*padding-right: 50px;*/
    color: black;

}

.send-button {
    width: 43px;
    height: 42px;
    position: absolute;
    /*margin-bottom: 1px;*/
    /*padding: 10px;*/
    right: 5px ;
    bottom: 15px;

    background-color: transparent;
    background-image: url("../Images/Buttons/send_button.png");
}

.send-button:hover {
    background-color: rgb(255, 255, 255, 0.4);
}

.character-counter {
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    font: bold 16px/14px 'VCR OSD Mono', monospace;
}

.chatButton {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 75px;
    background-color: transparent;
    /*background-image: url("../images/Buttons/chat_button.png");*/
    background-size: cover;
    border: none;
    cursor: pointer;

}

.chatButton:hover {
    background-color: red;
}
