.waiting-room-message {
    font: bold 16px/14px 'VCR OSD Mono', monospace;
    font-size: 25px;
    text-align: center;
    white-space: nowrap;
    margin-top: -100px;
}

.floating-image {
    position: absolute;
    width: 80px;
    /*animation: float 10s infinite linear, rotate 20s infinite linear;*/
    animation: rotate 20s infinite linear;
}

@keyframes float2 {
    0%, 100% { top: 5%; left: 75%; }
    25% { top: 90%; left: 55%; }
    50% { top: 35%; left: 25%; }
    75% { top: 50%; left: 70%; }
}

@keyframes float3 {
    0%, 100% { top: 80%; left: 5%; }
    25% { top: 20%; left: 85%; }
    50% { top: 70%; left: 20%; }
    75% { top: 30%; left: 60%; }
}

@keyframes float4 {
    0%, 100% { top: 50%; left: 90%; }
    25% { top: 10%; left: 10%; }
    50% { top: 40%; left: 70%; }
    75% { top: 80%; left: 40%; }
}

@keyframes float5 {
    0%, 100% { top: 25%; left: 50%; }
    25% { top: 75%; left: 25%; }
    50% { top: 55%; left: 75%; }
    75% { top: 10%; left: 50%; }
}

@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
